[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "st"]
	path = st
	url = https://github.com/LukeSmithxyz/st
[submodule "picom"]
	path = picom
	url = https://github.com/yshui/picom.git
