hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        xkb {
             layout "us"
             options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
    }

    touchpad {
        off
    }

    trackpoint {
        off
    }

    mouse {
        accel-profile "flat"
    }

    trackball {
        accel-profile "flat"
    }

    focus-follows-mouse
    warp-mouse-to-focus
    workspace-auto-back-and-forth
}

output "DP-1" {
    mode "2560x1440@143.972"
    scale 1
    transform "normal"
}

output "HDMI-A-1" {
    mode "2560x1440@143.972"
    scale 1
    transform "normal"
}

gestures {
  hot-corners {
    off
  }
}

overview {
  zoom 0.50
  workspace-shadow {
    softness 15
    spread 5
    offset x=0 y=5
    color "#00000070"
  }
}

layout {
    gaps 1
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        width 1
        active-gradient from="#e69875" to="#d699b6" angle=90
        inactive-gradient from="#7a8478" to="#859289" angle=90
    }

    insert-hint {
        color "#e6987550"
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
workspace "general"
workspace "steam"
workspace "discord"

include "animations.kdl"
include "window-rules.kdl"
include "bindings.kdl"
include "layer-rules.kdl"
