configuration {
    modi                : "window,ssh,drun";
    font                : "JetBrainsMono Nerd Font 12";
    show-icons          : true;
    disable-history     : false;
    fullscreen          : false;
    hide-scrollbar      : true;
    sidebar-mode        : true;
}

@import "colorscheme.rasi"
@import "fluent.rasi"
