@define-color bg #2d353b;
@define-color fg #d3c6aa;
@define-color bg-visual #543a48;
@define-color bg-light #323f44;
@define-color bg-purple #4a444e;
@define-color bg-blue #3a515d;
@define-color bg-green #425047;
@define-color bg-yellow #4d4c43;
@define-color bg-red #514045;
@define-color red #e67e80;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color blue #7fbbb3;
@define-color purple #d699b6;
@define-color aqua #83c092;
@define-color orange #e69875;
@define-color grey #7a8478;

@define-color status-good @green;
@define-color status-fg @fg;
@define-color status-error @fg;

@define-color border @fg;
@define-color icons @green;
@define-color inactive #4f585e;

* {
  all: unset;
  font-family: "Iosevka Nerd Font";
  font-size: 13px;
  color: @fg;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @bg;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid @fg;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @fg;
}

.box {
}

.search-container {
  border-radius: 2px;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: lighter(@bg-visual);
}

.input {
  caret-color: @fg;
  background: lighter(@bg);
  padding: 5px;
  color: @fg;
}

.input:focus,
.input:active {
}

.content-container {
  padding: 2px;
}

.placeholder {
}

.scroll {
}

.list {
  color: @fg;
}

child {
}

.item-box {
  border-radius: 2px;
  padding: 2px;
}

.item-quick-activation {
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@bg-green, 0.9);
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@bg-visual, 0.25);
  /* padding: 10px; */
  border-radius: 2px;
  color: @fg;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds-wrapper {
  border-top: 1px solid lighter(@bg);
  font-size: 12px;
  opacity: 0;
  color: @fg;
}

.keybinds {
}

.keybind {
}

.keybind-bind {
  /* color: lighter(@bg); */
  font-weight: bold;
  text-transform: lowercase;
}

.keybind-label {
}

.error {
  padding: 2px;
  background: @status-error;
  color: @status-fg;
}

:not(.calc).current {
  font-style: italic;
}
