* {
  font-family: "JetBrains Nerd Fond Mono";
  font-feature-settings: '"zero","ss01","ss02","ss03","ss04","ss05","cv31"';
  font-size: 12px;
  min-height: 10px;
}

window#waybar.empty #window {
  background-color: transparent;
  transition: none;
}

tooltip {
  background-color: @bg-light;
}

#workspaces,
#custom-notifications {
  border-radius: 8px;
  margin: 5px 15px 6px 12px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-notifications {
  font-size: 15px;
  margin-left: 0;
  margin-right: 12px;
}

#workspaces,
#clock,
#cpu,
#memory,
#temperature,
#tray,
#window,
#wireplumber {
  background: @bg-light;
}

#workspaces button {
  padding: 0 5px;
  color: @inactive;
}

#workspaces button.active {
  color: @icons;
  background: @bg;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#window,
#tray {
  color: @fg;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 6px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#tray {
  border-radius: 0;
  margin-right: 0;
}

#custom-shutdown,
#custom-logout,
#custom-reboot,
#custom-firmware,
#custom-suspend,
#clock,
#cpu,
#memory,
#temperature,
#wireplumber,
#custom-clock-icon,
#systemd-failed-units,
#custom-audio-icon {
  margin-top: 5px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-tray-collapsed {
  margin-top: 5px;
  margin-bottom: 6px;
  padding-left: 2px;
  padding-right: 10px;
}

#custom-divider {
  margin-top: 5px;
  margin-bottom: 6px;
}

#custom-shutdown,
#custom-tray-collapsed,
#clock,
#systemd-failed-units {
  border-radius: 0 8px 8px 0;
  margin-right: 15px;
}

tooltip,
#cpu,
#memory,
#temperature,
#wireplumber {
  color: @fg;
  border-radius: 8px;
  margin-right: 15px;
}

#custom-power-left-end,
#custom-tray-left-end,
#custom-clock-icon,
#systemd-failed-units,
#custom-audio-icon {
  background-color: @bg-light;
  border-radius: 8px 0 0 8px;
  border-right: none;
  margin-bottom: 6px;
  margin-top: 5px;
  padding-left: 6px;
}

#clock {
  color: @fg;
  padding-left: 0px;
}

#window {
  transition: linear 0.3s;
}

window#waybar {
  background-color: @bg;
  border-bottom: 1px solid @border;
}

#custom-notifications,
#custom-shutdown,
#custom-logout,
#custom-reboot,
#custom-firmware,
#custom-suspend,
#custom-tray-collapsed,
#custom-divider,
#custom-clock-icon,
#systemd-failed-units,
#custom-audio-icon {
  background-color: @bg-light;
  color: @icons;
}

#custom-apps {
  background-color: @accent;
  color: @bg-light;
  margin-left: 12px;
  font-size: 20px;
}
