* {
  font-size: 13px;
  min-height: 13px;
  color: @fg;
  margin-bottom: 1px;
}

tooltip {
  background-color: @bg-light;
  border: 0px;
  border-radius: 5px;
}

#workspaces {
  background: @bg-light;
}

#workspaces,
#workspaces button:first-child {
  border-radius: 0 0 5px 0;
}

#workspaces button {
  all: initial;
  padding: 0 5px;
  margin: 0;
  color: @bg;
  min-width: 0;
}

#workspaces button.urgent {
  background-color: @orange;
}

#workspaces button:not(:first-child) {
  border-radius: 0 0 5px 5px;
}

#workspaces button.active {
  color: @icons;
  background: @bg;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @red;
}

menu {
  background: @bg;
  color: @fg;
}

#systemd-failed-units,
#window,
#info,
#tray,
#pulseaudio,
#custom-clock-icon,
#clock {
  background: @bg-light;
  border-radius: 0 0 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#systemd-failed-units {
  background: @red;
  margin-left: 15px;
}

window#waybar.empty #window {
  background-color: transparent;
  transition: none;
}

window#waybar {
  background-color: transparent;
}

#info {
  margin-right: 15px;
}

#cpu,
#temperature {
  margin-right: 15px;
}

#tray,
#pulseaudio {
  margin-right: 15px;
}

#custom-clock-icon {
  color: @icons;
  border-radius: 0 0 0 5px;
}

#clock {
  border-radius: 0 0 5px 0;
  padding-left: 0px;
  margin-right: 15px;
}

#system {
  background: @bg-light;
  border-radius: 0 0 0 5px;
}

#custom-power,
#custom-notifications {
  color: @icons;
  font-size: 14px;
}

#custom-power {
  margin-left: 5px;
}
